<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>Mobile OA</contextName>

    <property name="LOG_PATTERN" value="%n%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}%n%msg%n"/>
    <property name="FILE_LOG_PATH" value="log"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>GBK</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_LOG_PATH}/current.log</file>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${FILE_LOG_PATH}/history/%d{yyyy-MM-dd_HH}.log
            </fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>